body
{
    background: rgb(194,238,4);
background: linear-gradient(86deg, rgba(194,238,4,0.3495435393258427) 24%, 
rgba(43,80,129,0.7090941011235955) 49%, 
rgba(255,0,0,0.9703300561797753) 75%);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset
{
    width: 55%;
    border: 4px solid black;
    border-radius: 15px;
}
input:required
{
    border: 2px solid rgb(182, 0, 0);
}
input:optional
{
    border: 2px dashed rgb(15, 218, 15);
}
input[readonly]
{
    background-color: hsl(226, 87%, 34%);
    color: rgb(250, 250, 250);
    font-weight: 700;
}
select
{
    background-color: blueviolet ;
    border-radius: 8px;
    width: 150px;
    font-size: 15px;
    color: beige;
    cursor: pointer;
}
input[type="radio"]:checked
{
    height: 20px;
    width: 20px;
}
input[type="radio"]:checked+label
{
    color: red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
p{
    display :none;
}
input:hover+p{
    display: inline;
    background-color: yellowgreen;
    counter-reset: red;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:focus
{
    background-color: rgb(225, 250, 6);
    color: rgb(243, 8, 8);
    font-weight: 500;
}
img 
{
    display: none;
}
input[type="email"]:focus:valid~img.Valid
{
    display: inline;
    height: 20px;
    width: 20px;
}
input[type="email"]:focus:invalid~img.Invalid
{
    display: inline;
    height: 20px;
    width: 20px;
}
input[type="Age"]:focus:in-range:valid~img.Valid
{
    display: inline;
    height: 20px;
    width: 20px;
}
input[type="Age"]:focus:out-of-range:invalid~img.Invalid
{
    display: inline;
    height: 20px;
    width: 20px;
}